<div class="signup mt60 mb60">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <% if current_user.id == @user.id %>
          <%= form_for @user do |f| %>
            <div class="signup_body">
             	<div class="signupbox">
            		<h1 class="edit-my">회원정보수정</h1> 
            		<p class="signupbox-p">학번</p>
          	    <p class="signupbox-p pl20 mt10 mb20" style="font-size: 1.5rem;"><%= @user.email %><br></p>
          	    <p class="signupbox-p">비밀번호</p>
          	    <%= f.password_field :password %><br>
          	    <p class="signupbox-p">비밀번호 확인</p>
          	    <%= f.password_field :password_confirmation %><br>
          	    <p class="signupbox-p">이름</p>
          	    <%= f.text_field :name %><br>
          	    <p class="signupbox-p">이메일</p>
          	    <%= f.email_field :mail %><br>
          	    <p class="signupbox-p">전화번호</p>
          	    <%= f.text_field :phone_number %>
                <div class="row">
        		      <div class="col-6">
        		        <p class="signupbox-p">학 년</p>
              		    <%= f.collection_select( :grade_id, Grade.all, :id, :grade_name,{}, {:class => "selc align-center"}) %>
                  </div>  
                  <div class="col-6">
            		    <p class="signupbox-p">학과</p>
            		    <%= f.collection_select :department_id, Department.all, :id, :department_name,{}, {class: "selc align-center"} %>
          		   	</div>
          		   	<input type="submit" name="user[submit]" value="완료">
            		</div>
            	</div>
          	</div>
          <%end%>
        <%end%>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>




