<%= form_for(small_group) do |f| %>
  <% if small_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(small_group.errors.count, "error") %> prohibited this small_group from being saved:</h2>

      <ul>
      <% small_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :"모임 이름" %><br>
    <%= f.text_field :group_name %>
  </div>

  <div class="field">
    <%= f.label :"소개" %><br>
    <%= f.text_field :introduce %>
  </div>
  
  <div class="field">
    <%= f.label :"내용" %><br>
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.label :"이미지" %><br>
    <%= f.file_field :img_url%>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
