 <div class="small-groups-body ">
  <div class="container mt60 mb60">
    
    <div class="align-center mt60 mb50"><h2 class="small-groups-index-h2">소모임</h2></div>
    <% if user_signed_in? %>
   
     <% if current_user.authorization == '2' %>
        <div class=" mb50 align-right"><%= link_to '소모임 만들기', new_small_group_path, {:class => "small-groups-index-new-bttn align-center"} %></div>
     <% else %>
     <%end%>
      
    <% else %>
  
      <div class=" mb50 align-right"><a class = "small-groups-index-new-bttn align-center", href="/users/sign_in">소모임 만들기</a></div>
    <% end %>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <% if @small_groups.count == 0 %>
            <div class="if-none-contents mt60 mb100 pb100"><p style="font-size: 2rem; font-weight: bold;">소모임이 없습니다.</p></div>
          <% else %>
            <% @small_groups.each do |small_group| %>
              
              
              <div class="col-3">
                <!--<div class="align-center">-->
                <!--  <div class="align-left">-->
                    
                <!--  </div>-->
                <!--</div>-->
                <div class="card dsply-inbl pl05 pr05 ml10 mr10 mb20" style="width: 13rem;">
                  <% if small_group.img_url.to_s == nil || small_group.img_url.to_s == "" %>
                    <div class="align-center"><img class="card-img-top small-groups-index-img overflow-hddn" src="/assets/small_groups/<%= (small_group.id)%13 %>.png" alt="Card image cap"></div>
                  <% elsif %>
                    <div class="align-center"><img class="card-img-top small-groups-index-img overflow-hddn" src="<%=small_group.img_url%>" alt="Card image cap"></div>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <div class="card-body small-group-p">
                    <div class="align-center"><h5 class="card-title samll-groups-index-title"><%= small_group.group_name %></h5></div>
                    
                    <div class="card-text mb20 ">
                      <p class="small-groups-index-p"><%= small_group.introduce %></p>
                    </div>
                    <div class="align-center">
                      <% if user_signed_in? %>
                        <%= link_to small_group do %>
                          <div class="align-center small-groups-index-more">자세히</div>
                        <% end %>
                      <% else %>
                        <a href="/users/sign_in"><div class="align-center small-groups-index-more">자세히</div></a>
                      <% end %>
                    </div>
                  </div>
                
                    
                </div>
              </div>  
            <% end %>
          <% end %>
         </div> 
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>