<div class="content-outline">
    <div class="content">
        <div class="content-title">지원서 수정 페이지</div>
        <form action="/apply_content/update/<%= @content.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <!--첫번째 질문-->
        <% unless @form.title1 == nil %>
            <div class="apply-content-outline">
                <svg class="svg-line-apply-index-pink" height="100" width="100">
                    <line x1="0" y1="20" x2="80" y2="20" style="stroke: #FFD0D6; stroke-width:5" />
                    <line x1="20" y1="0" x2="20" y2="80" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="apply-content">
                    <div class="apply-question">
                        <div class="question-q">Q 1.</div>
                        <div class="question-content"><%=@form.title1%></div>
                    </div>
                    <div class="apply-answer">
                        <div class="answer-a">A 1.</div>
                        <textarea class="textarea-1" name="content1" cols="80" rows="8"><%=@content.content1%></textarea>
                    </div>
                </div>
                <div class="structure-end">
                    <svg class="svg-line-apply-index-yellow" height="100" width="100">
                        <line x1="20" y1="80" x2="100" y2="80" style="stroke: #FEE19F; stroke-width:5" />
                        <line x1="80" y1="20" x2="80" y2="100" style="stroke: #FEE19F; stroke-width:5" />
                    </svg>
                </div>
            </div>
        <% end %>
        <!--두번째 질문-->
        <% unless @form.title2 == nil %>
            <div class="apply-content-outline">
                <svg class="svg-line-apply-index-pink" height="100" width="100">
                    <line x1="0" y1="20" x2="80" y2="20" style="stroke: #FFD0D6; stroke-width:5" />
                    <line x1="20" y1="0" x2="20" y2="80" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="apply-content">
                    <div class="apply-question">
                        <div class="question-q">Q 2.</div>
                        <div class="question-content"><%=@form.title2%></div>
                    </div>
                    <div class="apply-answer">
                        <div class="answer-a">A 2.</div>
                        <textarea class="textarea-1" name="content2" cols="80" rows="8"><%=@content.content2%></textarea>
                    </div>
                </div>
                <div class="structure-end">
                    <svg class="svg-line-apply-index-yellow" height="100" width="100">
                        <line x1="20" y1="80" x2="100" y2="80" style="stroke: #FEE19F; stroke-width:5" />
                        <line x1="80" y1="20" x2="80" y2="100" style="stroke: #FEE19F; stroke-width:5" />
                    </svg>
                </div>
            </div>
        <% end %>
        <!--세번째 질문-->
        <% unless @form.title3 == nil %>
            <div class="apply-content-outline">
                <svg class="svg-line-apply-index-pink" height="100" width="100">
                    <line x1="0" y1="20" x2="80" y2="20" style="stroke: #FFD0D6; stroke-width:5" />
                    <line x1="20" y1="0" x2="20" y2="80" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="apply-content">
                    <div class="apply-question">
                        <div class="question-q">Q 3.</div>
                        <div class="question-content"><%=@form.title3%></div>
                    </div>
                    <div class="apply-answer">
                        <div class="answer-a">A 3.</div>
                        <textarea class="textarea-1" name="content3" cols="80" rows="8"><%=@content.content3%></textarea>
                    </div>
                </div>
                <div class="structure-end">
                    <svg class="svg-line-apply-index-yellow" height="100" width="100">
                        <line x1="20" y1="80" x2="100" y2="80" style="stroke: #FEE19F; stroke-width:5" />
                        <line x1="80" y1="20" x2="80" y2="100" style="stroke: #FEE19F; stroke-width:5" />
                    </svg>
                </div>
            </div>
        <% end %>
        <% unless @form.title4 == nil %>
            <div class="apply-content-outline">
                <svg class="svg-line-apply-index-pink" height="100" width="100">
                    <line x1="0" y1="20" x2="80" y2="20" style="stroke: #FFD0D6; stroke-width:5" />
                    <line x1="20" y1="0" x2="20" y2="80" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="apply-content">
                    <div class="apply-question">
                        <div class="question-q">Q 4.</div>
                        <div class="question-content"><%=@form.title4%></div>
                    </div>
                    <div class="apply-answer">
                        <div class="answer-a">A 4.</div>
                        <textarea class="textarea-1" name="content4" cols="80" rows="8"><%=@content.content4%></textarea>
                    </div>
                </div>
                <div class="structure-end">
                    <svg class="svg-line-apply-index-yellow" height="100" width="100">
                        <line x1="20" y1="80" x2="100" y2="80" style="stroke: #FEE19F; stroke-width:5" />
                        <line x1="80" y1="20" x2="80" y2="100" style="stroke: #FEE19F; stroke-width:5" />
                    </svg>
                </div>
            </div>
        <% end %>
        <% unless @form.title5 == nil %>
            <div class="apply-content-outline">
                <svg class="svg-line-apply-index-pink" height="100" width="100">
                    <line x1="0" y1="20" x2="80" y2="20" style="stroke: #FFD0D6; stroke-width:5" />
                    <line x1="20" y1="0" x2="20" y2="80" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="apply-content">
                    <div class="apply-question">
                        <div class="question-q">Q 5.</div>
                        <div class="question-content"><%=@form.title5%></div>
                    </div>
                    <div class="apply-answer">
                        <div class="answer-a">A 5.</div>
                        <textarea class="textarea-1" name="content5" cols="80" rows="8"><%=@content.content5%></textarea>
                    </div>
                </div>
                <div class="structure-end">
                    <svg class="svg-line-apply-index-yellow" height="100" width="100">
                        <line x1="20" y1="80" x2="100" y2="80" style="stroke: #FEE19F; stroke-width:5" />
                        <line x1="80" y1="20" x2="80" y2="100" style="stroke: #FEE19F; stroke-width:5" />
                    </svg>
                </div>
            </div>
        <% end %>
        <div class="button-in-apply-content">
            <input class="button-apply-re-submit" type="submit" value="제출">
        </div>    
        </form>
    </div>
</div>