<div class="content-outline">
    <div class="content-club-view">
        <form action = "/club/club_view/<%= @club.id %>" method="get">
            <!--단체의 이미지, 이름, 소개-->
            <div class="club-view">
                <div class="content-title"><%= @club.club_name %></div>
                <% unless @club.img_url.nil? %> 
                    <img src="<%= @club.img_url %>"/>
                <% end %>
                <img src="/assets/clubs/<%= (@club.id) %>.jpg" class="club-img" alt="square" width="300">
                <!--<img src="/assets/rectangular.png" alt="square" class="club-view-img">-->
                <div class="club-intro-detail"><p><%= @club.introduce %></p></div>
            </div>
            
            <div class="member-view">
            <!--단체의 회원 목록-->
                <div class="subheading">회원 목록</div>
                <svg class="svg-line-club-view" height="25" width="150">
                    <line x1="0" y1="0" x2="150" y2="0" style="stroke: #FFD0D6; stroke-width:5" />
                </svg>
                <div class="sub-content memeber-info">
                    <div class="row">
                        <% @members.each do |x| %>
                            <% if x.club.id == @club.id %> <!-- 현재 보고있는 클럽아이디와 각각의 멤버의 클럽아이디가 같은 것만 보여준다.-->
                                <div class="col-2">
                                    <img src="/assets/person.png" alt="person" width="80px">
                                    <div class="user-name-in-club-view"><%= x.user.name %></div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="button-in-club-view">
                <%# if user_signed_in? %>
                    <%# if ApplyContent.find_by_user_id(current_user.id) != nil %>
                        <!--<a href="/apply_content/index"><div class="button-in-club-view-pink">지원내용 확인하기</div></a>-->
                    <%# end %>
                <%# end %>
                <a href="/club/index"><div class="button-in-club-view-yellow">되돌아가기</div></a>
                <!--현재 옵션 테이블의 apply_active가 "1"이면 지원할 수 있음-->
                <% if @current_check_option.apply_active == '1' %>
                    <!--로그인 된 상태면 현재 로그인 한 권한에 따라 보이는게 다름-->
                    <% if user_signed_in? %>
                        <!--서버 관리자인 경우-->
                        <% if current_user.authorization == '0' %>
                            <a href="/club/option_change/<%= @club.id %>"><div class="button-in-club-view-pink">지원 마감</div></a>
                            <% if ApplyForm.find_by_club_id(@club.id) == nil %>
                                <a href="/apply_form/new"><div class="button-in-club-view-yellow">지원서 양식 만들기</div></a>
                            <% else %>
                                <a href="/apply_form/edit/<%= @club.id %>"><div class="button-in-club-view-pink">지원서 양식 수정</div></a>
                            <% end %>
                            <!--<a href="/apply_content/index"><div class="button-in-club-view-yellow">지원 내용 확인</div></a>-->
                        <!--단체 관리자인 경우-->
                        <% elsif current_user.authorization == '1' %>
                            <!--현재 로그인 한 단체 관리자가 현재 클럽의 단체 관리자가 아닌경우-->
                            <% if ClubMember.find_by_user_id(current_user.id).club_id != @club.id %>
                                <a href="#"><div class="button-in-club-view-pink">지원 불가</div></a>
                            <!--현재 로그인 한 단체 관리자가 현재 클럽의 단체 관리자인 경우-->
                            <% else %>
                                <a href="/club/option_change/<%= @club.id %>"><div class="button-in-club-view-pink">지원 마감</div></a>
                                <% if ApplyForm.find_by_club_id(@club.id) == nil %>
                                    <a href="/apply_form/new"><div class="button-in-club-view-yellow">지원서 양식 만들기</div></a>
                                <% else %>
                                    <a href="/apply_form/edit/<%= @club.id %>"><div class="button-in-club-view-pink">지원서 양식 수정</div></a>
                                <% end %>
                            <% end %>
                        <!--일반 회원인 경우-->
                        <% else %>
                            <!--현재 로그인 한 일반 회원이 클럽에 소속 되어있는 경우, 지원 양식이 없는 경우-->
                            <% if @current_check_club != nil && @current_check_club.club_id == @club.id || ApplyForm.find_by_club_id(@club.id) == nil %>
                                <a href="#"><div class="button-in-club-view-pink">지원 불가</div></a>
                            <!--현재 로그인 한 일반 회원이 클럽에 소속 되어있지 않은 경우-->
                            <% else %>
                                <a href="/apply_content/new/<%=@club.id%>"><div class="button-in-club-view-pink">지원하기</div></a>
                            <% end %>
                        <% end %>
                    <% else %>
                        <!--로그인이 안되어 있으면 지원하기 버튼을 누르면 로그인 창으로 감.-->
                        <a href="/users/sign_in"><div class="button-in-club-view-yellow">지원하기</div></a>
                    <% end %>
                <!--현재 옵션 테이블의 apply_active가 "0"이면 지원할 수 없음-->
                <% else %>
                    <!--현재 로그인한 아이디가 보고있는 클럽에 속해있고 단체 관리자이면 지원을 마감할 수 있음.-->
                    <% if user_signed_in? && current_user.authorization == '0' %>
                        <a href="/club/option_change/<%= @club.id %>"><div class="button-in-club-view-pink">지원 시작</div></a>
                        <% if ApplyForm.find_by_club_id(@club.id) == nil %>
                            <a href="#"><div class="button-in-club-view-yellow">지원서 양식 만들기</div></a>
                        <!--<%# else %>-->
                        <!--    <a href="/apply_form/edit/<%= @club.id %>"><div class="button-in-club-view-yellow">지원서 양식 수정</div></a>-->
                        <% end %>
                        <!--<a href="/apply_content/index"><div class="button-in-club-view-pink">지원 내용 확인</div></a>-->
                    <% elsif user_signed_in? && current_user.authorization == "1" %>
                        <% if @current_check_club != nil && @current_check_club.club_id == @club.id %>
                            <a href="/club/option_change/<%= @club.id %>"><div class="button-in-club-view-pink">지원 시작</div></a>
                            <% if ApplyForm.find_by_club_id(@club.id) == nil %>
                                <a href="/apply_form/new"><div class="button-in-club-view-yellow">지원서 양식 만들기</div></a>
                            <% else %>
                                <a href="/apply_form/edit/<%= @club.id %>"><div class="button-in-club-view-yellow">지원서 양식 수정</div></a>
                            <% end %>
                            <!--<a href="/apply_content/index"><div class="button-in-club-view-pink">지원 내용 확인</div></a>-->
                        <% else %>
                            <a href="#"><div class="button-in-club-view-pink">권한없음</div></a>
                        <% end %>
                    <% else %>
                        <a href="#"><div class="button-in-club-view-pink">지원 불가</div></a>
                    <% end %>
                <% end %>
            </div>
        </form>
    </div>
</div>
