<div class="content-outline">
    <div class="content">
        <div class="content-title">내 동아리</div>
        
        <div class="club-card-align">
            <% if @club_check != nil %>
                <% @clubs.each do |x| %>
                    <% if current_user.id == x.user_id %>
                        
                            <div class="club-card">
                                <a href="/club/club_view/<%= x.club.id %>">
                                    <img src="/assets/clubs/<%=x.club_id%>.jpg" class="club-img" alt="square" width="100%">
                                </a>
                                <div class="club-index-name"><a href="/club/club_view/<%= x.club.id %>"><%= x.club.club_name %></a></div>
                                <svg class="svg-line" height="25" width="150">
                                    <line x1="0" y1="0" x2="150" y2="0" style="stroke: #FFD0D6; stroke-width:5" />
                                </svg>
                                <div class="club-index-intro"><p><%= x.club.introduce %>Hack your life! <br>내가 만들고 싶은 페이지를 내 손으로</p></div>
                            </div>
                        
                    <% end %>
                <% end %>
            <% else %>
                <div class="if-none-contents"><p class="no-club">가입한 동아리가 없습니다.</p></div>
            <% end %>
        </div>
        
    </div>
</div>