<!DOCTYPE html>
<html lang="ko">
<head>
  
	  <!-- meta data -->
	<meta charset="UTF-8">
	<meta name="author" content="BE: 김승래, 함진경, 한현수 / FE: 박결, 홍다은">
	<meta name="description" content="성공회대 모임 찾기/가입 플렛폼입니다.">
	<meta name="keywords" content="성공회대, 동아리, 소모임, 학생회, 단체"> 
	
	  <!--viewport 반응형-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--파비콘-->
	<link rel="icon" type="image/x-icon" href="/assets/icons/favicon-96x96.png" />

    <!--title-->
  <title>SKHU CHECK</title>
  
    <!--bootstrap link-->
  <link rel="stylesheet" href="/assets/bootstrap_css/bootstrap.css" integrity="" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bootstrap_css/bootstrap-grid.css" integrity="" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bootstrap_css/bootstrap-reboot.css" integrity="" crossorigin="anonymous">
    
    <!--style-->
  <link rel="stylesheet" href="/assets/bootstrap_css/bootstrap_custom.css">
	<link rel="stylesheet" href="/assets/reset.css">
	<link rel="stylesheet" href="/assets/users/login_style.css">
  <link rel="stylesheet" href="/assets/users/signup.css">
 	<link rel="stylesheet" href="/assets/textarea-style.css">  
  <link rel="stylesheet" href="/assets/board.css">
  <link rel="stylesheet" href="/assets/comments.css">
  <link rel="stylesheet" href="/assets/sorry.css">
  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Brush+Script" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  


  
  
  <!--댓글 접었다 폈다-->
  <script type="text/javascript">
    function showHide(id) {
       var obj = document.getElementById(id);
       if (obj.style.display == 'none')
           obj.style.display = 'block';
       else
           obj.style.display = 'none';
    }
  </script>



  
  
  
</head>

<body>
  
  <!--nav bar-->
<nav class="fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-3 nav-title">
        <a href="/">SKHU CHECK</a>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-11">
            <div class="btn-group">
              <div class="dropdown">
                <a class="btn btn-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  탐색
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/club/index">동아리</a>
                  <a class="dropdown-item" href="/small_groups/">소모임</a>
                  <a class="dropdown-item" href="/board/sorry">학생회</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/club/appliable_club">지원 가능 동아리</a>
                </div>
                
              </div>
              <div class="dropdown">
                <a class="btn btn-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  행사&광고
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/board/sorry">행사</a>
                  <a class="dropdown-item" href="/board/sorry">광고</a>
                </div>
              </div>
              <div class="dropdown">
                <a class="btn btn-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  달력&영상
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/meetings">슼쳌 달력</a>
                  <a class="dropdown-item" href="/video/index">동영상</a>
                  <!--<a class="dropdown-item" href="/board/sorry">동영상</a>-->
                </div>
              </div>
              <a href="/board/sorry"><button type="button" class="btn btn-nav">게시판</button></a>
              
              <% if current_user != nil %>
  			        <% if current_user.authorization == '0' || current_user.authorization == '1' %>
                  <div class="dropdown">
                    <a  href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="btn btn-nav dropdown-toggle btn-admin">관리자</div>
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <% if current_user.authorization == '0' || current_user.authorization == '1'  %>
                        <a class="dropdown-item" href="/club/club_members">회원 목록</a>
                        <a class="dropdown-item" href="/apply_content/index">지원자 관리</a>
                        <div class="dropdown-divider"></div> 
                        <% if ApplyForm.find_by_club_id(@club_id) == nil %>
                          <a class="dropdown-item" href="/apply_form/index">지원서 관리</a>
                        <% else %>
                          <a class="dropdown-item" href="/apply_form/edit/<%= @club_id %>">지원서 관리</a>
                        <% end %>
                      <%end%>
                    </div>
                  </div>
                <% elsif current_user.authorization =='4' %>  
                  <div class="dropdown">
                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="btn btn-nav btn-admin-1 dropdown-toggle">소모임</div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <% if current_user.authorization == '4' %>
                        <a class="dropdown-item" href="/small_groups/1/group_members">회원 목록</a>
                        <a class="dropdown-item" href="/s_apply_content/index">지원자 관리</a>
                        <% if SApplyForm.find_by_small_group_id(@small_groups_id) == nil %>
                          <a class="dropdown-item" href="/s_apply_form/index">지원서 관리</a>
                        <% else %>
                          <a class="dropdown-item" href="/s_apply_form/edit/<%= @small_groups_id %>">지원서 관리</a>
                        <% end %>   
                      <%end%>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 align-right">
        <% if current_user == nil %>
		  		<a class="btn nav-user-button" href="/users/sign_in">로그인</a>
		  		<a class="btn nav-user-button" href="/users/sign_up">회원가입</a>
		  	<% else %>
		  	  <div class="dropdown">
            <a class="btn btn-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="nav-icons" src="/assets/icons/smiling.png"></img>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/users/index">내 정보</a>
              <a class="dropdown-item" href="/club/my_club">내 동아리</a>
              <a class="dropdown-item" href="/users/sign_out">로그아웃</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/board/sorry">지원 현황</a>
            </div>
          </div>
		  	<% end %>
      </div>
    </div>    
  </div>
</nav>
<a href="/board/investigation/" target="_blink"><div class="btn1018">설문조사</div></a>
  <!--nav end -->

  <%= yield %>

  <!--footer-->
<footer class="footer">
  <div class="container">
    <div class="align-center" style="font-size: 2rem; font-weight: bold; color: #777; padding-bottom: 1.5rem;">SKHU CHECK</div>
    <div class="row">
      <div class="col-3">
        <a href="https://www.facebook.com/SkhuLion/?__tn__=kC-R&eid=ARBuQtj6rrjn191Z-16qs7zDw7W5Dr8tC3nDnaFRBR03q8KFRgHhUV5OiWHrwdpE3XQbhA4sjpMKPrZf&hc_ref=ARTn6Pur-kI8lDAyx2fSv-8_iyNWtu3K-4HL11rOCewBYYpXX_oswDFPRIyeso_AFco&fref=nf&__xts__%5B0%5D=68.ARDUtPaxPmZbrbZcgL3F-xONk4veTlkfMMPb4CmsbLZkS8yKc1AkBYvJ4y9C5hZDH2XRqCdGQDvx4k53DYcJBUmTuRXtzmV21VHucOw-s8Y9eI4SfmBzpEcseAL7PsoSJ14H7vArgVUiLsjJunW_X4-odm4VHX5i3rm_e-d6BH2IY_ADGAo8jXfA8Bc3jjkgs5S_NsKSgFkdhqgP6oiExO-U_M-dsXtZqhp53GSutc99OnK6XTsFhTlUR7ofGnv931afkkI3YHypC_XoWIHnRvXOcugeoSXl02PAjfOo5YPN4rQ1Mne3k12U-Nl0I7KOPNkSBEL7i1LpDuDPuYik9vs" target="_blank"><img src="/assets/likelion_logo_2.jpg" alt="멋쟁이 사자처럼 로고" class="rounded-circle img-sz-ll"></a>
        <a herf=""><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/32808419_392755764551587_994333741327319040_n.png?_nc_cat=100&_nc_ht=scontent-icn1-1.xx&oh=8a8a53f949a5dab3de6a924919a8f58a&oe=5CA84BA2" alt="구로마을대학" class=" img-sz-ll" style="border-radius: 20px;"></a>
      </div>
      <div class="col-7 ml20">
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btn-footer">서비스소개</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-footer">이용약관 및 정책</button>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-footer">Q & A</button>
          </div>
          <div class="col-2">
            <a href="/board/staff"><button type="button" class="btn btn-footer" style="color: #56cec1">만든이들</button></a>
          </div>
          <div class="col-3"></div>
          </div>
          <div class="">
            <p class="footer-p">
              멋쟁이사자처럼atSKHU | 서울특별시 구로구 항동 1-1 성공회대학교 나눔관 5A114 실 <br>
              서비스 문의: gyul611@likelion.org / 카카오톡 플러스친구 '스쿠체크'<br>
              SKHUCHECK, Inc.
            </p>
          </div>
        
      </div>
      
    </div>
  </div>
</footer>

<!--플친-->



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
  <!--<script src="/assets//bootstrap.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
  <!--<script src="/assets/bootstrap.bundle.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
</body>
</html>
